
<section class="text-white pattern skrollable skrollable-between" data-top-top="transform: translateY(0px);" 
data-top-bottom="transform: translateY(250px);" style="transform: translateY(16.8998px);">
<div class="image image-overlay" style="background-image:url(../../assets/images/demo/image-2.jpg)"></div>
  <div class="container pt-10">
    <div class="row mb-2 justify-content-center" >
      <div class="col-md-8 col-lg-6">
        <h1>CURRICULUM VITAE</h1>
      </div>
    </div>
  </div>
</section>

<section class="bg-light justify-content-center">
<div class="col-md-8">
  <div><button type="button" class="btn btn-twitter btn-rounded">Télécharger mon cv</button>
    <a href="../../assets/CV_lfeleo.pdf" class="wp-block-file__button" download="">
      
    </a></div>
    <img class="" src="../../assets/cv_feleo.png" alt="cv"><br/>
    </button></div>
  </div>

</section>


