<section class="text-white pattern skrollable skrollable-between" data-top-top="transform: translateY(0px);" 
data-top-bottom="transform: translateY(250px);" style="transform: translateY(16.8998px);">
<div class="image image-overlay" style="background-image:url(../../assets/images/demo/image-2.jpg)"></div>
  <div class="container pt-10">
    <div class="row mb-2 justify-content-center" >
      <div class="col-md-8 col-lg-6">
        <h1>CURRICULUM VITAE</h1>
      </div>
    </div>
  </div>
</section>

<section class="bg-light">
  <div class="container">
    <div class="col-md-12 align-items-center">
      <div class="col-md-12 align-items-center" >             
        <button type="button" class="btn btn-twitter btn-rounded ">
        <a href="../../assets/CV_lfeleo.pdf" class="wp-block-file__button align-items-center" download="">Télécharger mon cv</a></button></div>
        <br/> 
      <div class=" col-md-12 align-items-center"><img class="col-md-8 center" src="../../assets/cv_feleo.png" alt="cv"></div>
</div></div>
</section>


