<section>
      <div class="image image-overlay" style="background-image:url(../../assets/images/demo/image-2.jpg)"></div>
      <div class="container pt-10">
        <div class="row">
          <div class="col text-white text-shadow">
            <h1>Stage <b>CMLA</b></h1>
            <p class="lead">
              
            </p>
          </div>
        </div>
      </div>
    </section>