<section class="text-white pattern skrollable skrollable-between" data-top-top="transform: translateY(0px);" 
data-top-bottom="transform: translateY(250px);" style="transform: translateY(16.8998px);">
<div class="image image-overlay" style="background-image:url(../../assets/cournotLaplace1.jpg)"></div>
  <div class="container pt-10">
    <div class="row mb-2 justify-content-center" >
      <div class="col-md-8 col-lg-6">
        <h1> <b>Stage</b> 1ère année</h1>
      </div>
    </div>
  </div>
</section>



<section class="bg-white text-black"
      data-top-top="transform: translateY(0px);" 
      data-top-bottom="transform: translateY(200px);">
      <div class="container">
      <div class="row align-items-center">
          <div class="col-md-8 align-items-center ">


<h3>Outils utilisés</h3>
            <div class="container"
            <div class="bordered">
            <div class="row justify-content-between align-items-center text-center text-md-left">
               
                      <img src="../../assets/python_logo.png"/>
                      <img alt="phpstorm-logo"src="../../assets/docker_logo.png"/>
                      <img alt="phpstorm-logo"src="../../assets/sublime_text_logo.png"/>
                      <img alt="phpstorm-logo"src="../../assets/trello_logo.png"/>
                      
            </div>
            </div>
           
            </div>  
            
      </div>
</section>


<style>
img{
  height:50px;
  width:50px;
}
</style>


