<section class="text-white pattern skrollable skrollable-between" data-top-top="transform: translateY(0px);" 
data-top-bottom="transform: translateY(250px);" style="transform: translateY(16.8998px);">
<div class="image image-overlay" style="background-image:url(../../assets/images/demo/image-2.jpg)"></div>
  <div class="container pt-10">
    <div class="row mb-2 justify-content-center" >
      <div class="col-md-8 col-lg-6">
        <h1> <b>Veille</b> technologique</h1>
      </div>
    </div>
  </div>
</section>





<section class="bg-white text-black"
      data-top-top="transform: translateY(0px);" 
      data-top-bottom="transform: translateY(200px);">
      <div class="container">
      <div class="row align-items-center">
          <div class="col-md-12 align-items-center ">

            <p>
              La veille technologie consiste à s’informer en continu sur les nouveautés d’un secteur, les inventions des concurrents, 
              ainsi que des nouvelles technologies dans le but d’être le meilleur dans son domaine.
            </p>

            
      </div>
</section>
<style>
img{
  height:50px;
  width:50px;
}
</style>