<!-- cover -->
    <section class="p-0"
      data-top-top="transform: translateY(0px);" 
      data-top-bottom="transform: translateY(200px);"
      style="background-image:linear-gradient( to right bottom,
        rgba(0, 0, 0, 0.3),#161c1d)">
      <div class="swiper-container text-white">
        <div class="swiper-wrapper">
          <div class="swiper-slide vh-100">
            <div class="image image-overlay image-zoom" style="background-image:url(../../assets/codeeee.jpg)"></div>
            <div class="caption">
              <div class="container">
                <div class="row align-items-end justify-content-between vh-100">
                  <div class="col-12 col-lg-6" data-swiper-parallax-y="-100%">
                    <p class="lead mb-0">Bonjour, je m&apos;appelle</p>
                    <h1 class="display-1 mb-2"><b>Laureane</b> Feleo</h1>
                    <p class="lead mb-10">19 ans,<br/> étudiante en 2ème année de BTS <b>SIO</b> <i>(Services informatiques aux organisations)</i>
                    option <b>SLAM</b> <i>(Solutions Logicielles et Applications Métiers)</i> à l’<b>E</b>cole <b>N</b>ationale de <b>C</b>ommercen, Paris 17ème.</p>
                    <div class="mouse"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / cover -->


    <section class="bg-white text-black"
      data-top-top="transform: translateY(0px);" 
      data-top-bottom="transform: translateY(200px);">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4">
          
        
            
          
        
            <h2 id="comp"class="fs-24 text-uppercase letter-spacing"><b>
            <ul>
              <li><a href="#comp" class="">COMPETENCE</a></li>
              <li><a href="#exp" class="current">EXPERIENCES</a></li>
              <li><a href="#form" class="">FORMATIONS</a></li>
            </ul>
            </b></h2>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-12">
                <h3>INFORMATIQUE</h3>
                <h4 class="progress-title">HTML/CSS</h4>
                <div class="progress-item">
                  <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"><span>80%</span></div>
                  </div>
                </div>
              </div>

              <div class="col-12 mt-4">
                <h4 class="progress-title">PHP</h4>
                <div class="progress-item">
                  <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"><span>70%</span></div>
                  </div>
                </div>
              </div>

              <div class="col-12 mt-4">
                <h4 class="progress-title">JS</h4>
                <div class="progress-item">
                  <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"><span>50%</span></div>
                  </div>
                </div>
              </div>
              

              <div class="col-12 mt-4">
                <h4 class="progress-title">Java</h4>
                <div class="progress-item">
                  <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"><span>70%</span></div>
                  </div>
                </div>
              </div>

              <div class="col-12 mt-4">
                <h4 class="progress-title">Python</h4>
                <div class="progress-item">
                  <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"><span>40%</span></div>
                  </div>
                </div>
              </div>

              <div class="col-12 mt-4">
                <h4 class="progress-title">SQL</h4>
                <div class="progress-item">
                  <div class="progress">
                      <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"><span>70%</span></div>
                  </div>
                </div>
              </div>

            
                
                  
                  
                  
            </div><br/><h3>Outils utilisés</h3>
              <div>
                <img src="../../assets/vscode_icon.png"/>
              </div>

              <div>
                <br/><h3>LANGUES</h3>
                <div class="col-md-5 text-center text-md-left">
                  <ul class="languages">
                    <li><img alt="" src="../../assets/united_kingdom_icon.png"/>
                    <b> Anglais</b> : B1</li>
                    <li><img alt="" src="../../assets/philippines_icon.png"/>
                    <b> Tagalog</b> : C2 (langue maternelle)</li> 
                    <li><img alt="" src="../../assets/spain_icon.png"/>
                    <b> Espagnol</b> : A1 </li>
                  </ul>
                  </div>
              </div>

          

            </div>
          </div>
        </div>
      </div>
    </section>



    <section class="bg-white text-dark"
      data-top-top="transform: translateY(0px);" 
      data-top-bottom="transform: translateY(200px);">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4">
            <h2 id="exp"class="fs-24 text-uppercase letter-spacing"><b> EXPÉRIENCES PROFESSIONNELLES</b></h2>
          </div>
          <div class="col-md-8 separated">
            <div class="row">
              <div class="col">
                <div class="bordered separated">
                  <div class="row mb-0 align-items-center justify-content-between p-2 p-md-4">
                    <div class="col-3 col-md-2 pb-2 pb-md-0">
                      <div class="logo">
                        <img src="../../assets/test-dark.png" alt="Logo">
                      </div>
                    </div>
                    <div class="col-md-5">
                      <h5 class="mb-0">Cooodit</h5>
                      <span>Stage de 7 semaines </span>
                    </div>
                    <div class="col-md-4 text-md-right small">
                      Fin Janvier - Début Mars 2020
                    </div>
                  </div>
                  <div class="row mb-0 align-items-center justify-content-between p-2 p-md-4">
                    <div class="col-3 col-md-2 pb-2 pb-md-0">
                      <div class="logo">
                        <img src="../../assets/cmla-logo.jpg" alt="Logo">
                      </div>
                    </div>
                    <div class="col-md-5">
                      <h5 class="mb-0">CMLA</h5>
                      <span>Stage de 5 semaines<br/>  - Copie de l&apos;archive dans le nouveau
                      système</span>
                    </div>
                    <div class="col-md-4 text-md-right small">
                      Mai - Juin 2019
                    </div>
                  </div>
                  <div class="row mb-0 align-items-center justify-content-between p-2 p-md-4">
                    <div class="col-3 col-md-2 pb-2 pb-md-0">
                      <div class="logo">
                        <img src="../../assets/ApollineCoiffure.png" alt="Logo">
                      </div>
                    </div>
                    <div class="col-md-5">
                      <h5 class="mb-0">Projet bac</h5>
                      <span>Création d’un site web (vitrine)</span>
                    </div>
                    <div class="col-md-4 text-md-right small">
                      2018
                    </div>
                  </div>
                  <div class="row mb-0 align-items-center justify-content-between p-2 p-md-4">
                    <div class="col-3 col-md-2 pb-2 pb-md-0">
                      <div class="logo">
                        <img src="../../assets/besv-logo.png" alt="Logo">
                      </div>
                    </div>
                    <div class="col-md-5">
                      <h5 class="mb-0">BESV</h5>
                      <span>Stage d’observation dans une banque</span>
                    </div>
                    <div class="col-md-4 text-md-right small">
                      Décembre 2014
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- education -->
    <section class="bg-white separator-top"
      data-top-top="transform: translateY(0px);" 
      data-top-bottom="transform: translateY(200px);">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4">
            <h2 id="form" class="fs-24 text-uppercase letter-spacing"><b>FORMATIONS</b></h2>
          </div>
          <div class="col-md-8">
            <div class="row gutter-1">
              <div class="col-6">
                <div class="bordered rising p-2 p-md-4">
                  <h5 class="mb-0">BTS SIO option SLAM</h5>
                  <span class="d-block text-primary mb-3">Ecole Nationale de Commerce - Bessières, Paris 17ème</span>
                  <span class="text-muted">2018 - 2020</span>
                </div>
              </div>
              <div class="col-6">
                <div class="bordered rising p-2 p-md-4">
                  <h5 class="mb-0">Bac STMG option SIG, <br/>mention Bien</h5>
                  <span class="d-block text-primary mb-3">Lycée Roger Verlomme, Paris 15ème</span>
                  <span class="text-muted">Juillet 2018</span>
                </div>
              </div>
              <div class="col-6">
                <div class="bordered rising p-2 p-md-4">
                  <h5 class="mb-0">Brevet des Collèges</h5>
                  <span class="d-block text-primary mb-3">Collège Guillaume Apollinaire, Paris 15ème</span>
                  <span class="text-muted">Juillet 2015</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- / education -->


    <section class="bg-light"
      data-top-top="transform: translateY(0px);" 
      data-top-bottom="transform: translateY(200px);">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4">
            <h2 class="fs-24 text-uppercase letter-spacing"><b>04.</b> Portfolio</h2>
          </div>
          <div class="col-md-8">
            <ul class="row gutter-1 gallery filtr-container">
              <li class="col-6 filtr-item" data-category="all, branding" data-sort="value">
                <figure class="photo equal">
                  <a href="../../assets/images/demo/minimal/portfolio-1.jpg" 
                    style="background-image: url(../../assets/images/demo/minimal/portfolio-1.jpg);">
                  </a>
                </figure>
              </li>
              <li class="col-6 filtr-item" data-category="all, illustration" data-sort="value">
                <figure class="photo equal equal-long">
                  <a href="../../assets/images/demo/minimal/portfolio-2.jpg" 
                    style="background-image: url(../../assets/images/demo/minimal/portfolio-2.jpg);">
                  </a>
                </figure>
              </li>
              <li class="col-6 filtr-item" data-category="all, illustration" data-sort="value">
                <figure class="photo equal equal-long">
                  <a href="../../assets/images/demo/minimal/portfolio-4.jpg" 
                    style="background-image: url(../../assets/images/demo/minimal/portfolio-4.jpg);">
                  </a>
                </figure>
              </li>
              <li class="col-6 filtr-item" data-category="all, branding" data-sort="value">
                <figure class="photo equal">
                  <a href="../../assets/images/demo/minimal/portfolio-5.jpg" 
                    style="background-image: url(../../assets/images/demo/minimal/portfolio-5.jpg);">
                  </a>
                </figure>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-white"
      data-top-top="transform: translateY(0px);" 
      data-top-bottom="transform: translateY(200px);">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-4">
            <h2 class="fs-24 text-uppercase letter-spacing"><b>CENTRES D&apos;INTERETS</b></h2>
          </div>
          <div class="col-md-8">
    </section>



    <section class="bg-white">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <h2>CONTACT<a href="" class="text-red link"></a></h2>
            <div>
            <p>
            <a class="icon-phone text-dark fs-30"></a> 06 38 45 59 86</p>
            <p><a href="mailto:laureane_feleo@hotmail.fr" class="icon-mail text-dark fs-30"></a>  laureane_feleo@hotmail.fr 
            </p>
            </div>
          </div>
        </div>
      </div>
    </section>


