<!-- footer -->
    <footer class="separator-top">
      <div class="container py-5">
        <div class="row justify-content-between align-items-center">
          <div class="col-md-5 text-center text-md-left">
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link" href="#">Contacts</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About Us</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Legal Information</a>
              </li>
            </ul>
          </div>
          <div class="col-md-2 text-center">
            <a class="" href="<%=root_path%>">
            <img class="logo-sm" src="../../assets/lfeleo-logo.png" alt="Logo">
          </a>
          </div>
          <div class="col-md-5 text-center text-md-right">
            <ul class="socials">
              <li><a href="https://github.com/lfeleo" class="icon-github text-dark fs-30"></a></li>
              <li><a href="https://www.linkedin.com/in/laureane-feleo-281378185/" class="icon-linkedin text-linkedin fs-30"></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!-- / footer -->
